<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%= @guest.name %>
	</p>
	<p>
		<b><%=t(:label_email) %></b>
		<%= @guest.email %>
	</p>
		<b><%=t(:label_phone) %></b>
		<%= @guest.phone %>	
	<p>	
	<p>
		<b><%=t(:label_flag) %></b>
		<%=raw flagToString(@guest.enable) %>
	</p>

  	<b><%=t(:label_created_at) %></b>
  	<%= @guest.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @guest.created_at %>
  </p>
</div>
<% if can? :update, Shipping %>		
<%= link_to t(:link_edit), edit_admin_guest_path(@guest) %> |
<% end %>
<%= link_to t(:link_list), admin_guests_path() %>
