<%= form_for(@faq) do |f| %>
	<% if @faq.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<h2><%= pluralize(@faq.errors.count, "error") %> prohibited this request from being saved:</h2>
			<ul>
				<% @faq.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title,:class=>"span4",:required=>"required" %>
	</div>
	<%= f.fields_for :faq_content do |c| %>
	<div class="form-group">
		<%= c.label :content %>
		<%= c.text_area :content,:class=>"span4",:rows=>10,:cols=>50,:required=>"required" %>
	</div>
	<% end %>
	<div class="form-group">
		<%= f.label :flag %>
		<%= f.check_box :flag %>
	</div>
	<div class="form-group actions">
		<%= f.submit :class=>"btn btn-primary" %>
	s</div>
<% end %>
