<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>    	
        <Cell><Data ss:Type="String"><%=t(:label_number)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_title)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_content)%></Data></Cell>        
        <Cell><Data ss:Type="String"><%=t(:label_flag)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_created_at)%></Data></Cell>
      </Row>
      <% @notices.each do |notice| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= notice.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= notice.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= notice.notice_content.content %></Data></Cell>       
        <Cell><Data ss:Type="String"><%= flagToString(notice.flag,true) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= notice.created_at %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
