<div class="row">
  <div class="col-12">
    <h2 class="float-left hidden-title"><%=t(:order_list) %></h2>
    <div class="float-right">
      <p class="summary">
        <span id="list_count" style="display:none"></span>
        <%=raw t(:there_are_n_orders,count: @order_count) %>
      </p>
    </div>
  </div>
  <article class="col-12">
    <table class="table table-striped table-hover">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <% if can?(:update, Order) || can?(:delete, Order) %>
          <col<%=manage_width(Order) %>>
        <% end  %>
      </colgroup>
      <thead class="thead-default">
      <tr>
        <th><%=t(:user_id,scope:[:activerecord,:attributes,:order]) %></th>
        <th><%=t(:payment_method) %></th>
        <th><%=t(:title,scope:[:activerecord,:attributes,:product]) %></th>
        <th class="text-right"><%=t(:total_payment,scope:[:activerecord,:attributes,:order]) %></th>
        <th class="text-right d-none d-sm-table-cell"><%=t(:last_transaction_date,scope:[:activerecord,:attributes,:order]) %></th>
        <th class="text-right d-none d-sm-table-cell"><%=t(:created_at,scope:[:activerecord,:attributes,:order]) %></th>
        <% if can?(:update, Order) || can?(:delete, Order) %>
        <th class="text-center"><%=t(:manage) %></th>
        <% end  %>
      </tr>
      </thead>
      <tbody>
      <% unless @orders.empty? %>
        <% @orders.each do |order| %>
      <tr>
        <td><%=order.user.name %></td>
        <td>
          <% order.accounts.each do |a| %>
            <% a.payments.each do |p| %>
            <%=p.title %>
            <% end  %>
          <% end  %>
        </td>
        <td>
          <% order.orders_products.each do |op| %>
          <%=op.product.title %>
            <% end  %>
        </td>
        <td class="text-right"<% unless order.enable %> style="text-decoration:line-through"<% end %>>
          <%=number_to_currency order.total_payment %>
        </td>
        <td class="text-right d-none d-sm-table-cell"><%= I18n.l order.last_transaction_date.to_date, :format => :long %></td>
        <td class="text-right d-none d-sm-table-cell"><%= I18n.l order.created_at.to_datetime, :format => :short %></td>
        <% if can?(:update, order) or can?(:delete, order) %>
          <td class="text-right">
            <% if can? :update, order %>
              <%= link_to edit_order_path(order), :class => "btn btn-secondary" do %>
                <i class="glyphicon glyphicon-pencil"></i> <%= t(:edit) %>
              <% end %>
            <% end %>
            <% if can? :delete, order %>
              <%= link_to order_path(order), :method => :delete, :data => { :confirm => t(:delete_confirm) }, :class => "btn btn-danger" do %>
                <i class="glyphicon glyphicon-trash"></i> <%= t(:delete) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
        <% end %>
      <% else %>
      <tr>
        <td class="text-center" colspan="7"><%=t(:no_data) %></td>
      </tr>
      <% end  %>
      </tbody>
    </table>
    <%= paginate @orders %>
  </article>
</div>
