<aside class="col-xs-3 col-lg-2">
	<nav class="nav-collapse sidebar-nav">
		<ul class="nav main-menu">
			<% if can? :read, Order %>
			<li>
				<%=link_to admin_orders_path do %><i class="glyphicon glyphicon-shopping-cart glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_order)%></span><% end %>
			</li>
			<% end %>			
			<% if can? :read, Product %>
			<li>
				<%=link_to admin_products_path do %><i class="glyphicon glyphicon-envelope glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_product)%></span><% end %>
			</li>
			<% end %>	
			<% if can? :read, Shipping %>
			<li>
				<%=link_to admin_shippings_path do %><i class="glyphicon glyphicon-road glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_shipping)%></span><% end %>
			</li>
			<% end %>										
			<% if can? :read, User %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-user glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_user)%></span></a>
				<ul <% if params[:controller]=='admin/operators' || params[:controller]=='admin/users' || params[:controller]=='admin/guests' || params[:controller]=='admin/user_login_logs'|| params[:controller]=='admin/user_address_books' %>class="current"<% end %>>
					<% if can? :read, Operator %>
					<li><%=link_to admin_operators_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_operator)%></span><% end %></li>
					<% end %>
					<li><%=link_to admin_users_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_user)%></span><% end %></li>
					<li><%=link_to admin_guests_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_guest)%></span><% end %></li>					
					<li><%=link_to admin_user_login_logs_path do %><i class="glyphicon glyphicon-th-list glyphicon glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_user_login_log)%></span><% end %></li>
				</ul>
			</li>
			<% end %>
			<% if can?(:read, Notice) || can?(:read, Faq) %>
			<li>
				<a class="dropmenu" href="#"><i class="glyphicon glyphicon-list-alt glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_board)%></span></a>
				<ul <% if params[:controller]=='admin/notices' || params[:controller]=='admin/faqs' %>class="current"<% end %>>
					<% if can? :read, Notice %>					
					<li><%=link_to admin_notices_path do %><i class="glyphicon glyphicon-th-list glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_notice)%></span><% end %></li>
					<% end %>
					<% if can? :read, Faq %>					
					<li><%=link_to admin_faqs_path do %><i class="glyphicon glyphicon-th-list glyphicon-white"></i><span class="hidden-tablet"> <%=t(:submenu_faq)%></span><% end %></li>
					<% end %>
				</ul>
			</li>
			<% end %>
			<% if can? :read, Payment %>
			<li>
				<%=link_to admin_payments_path do %><i class="glyphicon glyphicon-usd glyphicon-white"></i><span class="hidden-tablet"> <%=t(:menu_payment)%></span><% end %>
			</li>
			<% end %>
		</ul>
	</nav>
</aside>