<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%= @payment.title %>
	</p>
	<p>
		<b><%=t(:label_flag) %></b>
		<%=raw flagToString(@payment.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @payment.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @payment.created_at %>
  </p>
</div>
<% if can? :update, Payment %>		
<%= link_to t(:link_edit), edit_admin_payment_path(@payment) %> |
<% end %>
<%= link_to t(:link_list), admin_payments_path() %>
