<section id="sl_order_add">
	<%= form_for(@order,:html=>{:class => 'form-horizontal',:id=>'order_form'}) do |f| %>
	<article class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><%=t(:product) %></h3>
		</div>
		<div class="panel-body">
			<% @products.each_with_index do |product,index| %>
			<div class="product">
				<input name="product_id" />
				<div class="product_image">
					<% if(product) %>
					<figure>
						<img src="" width="" height="" />
						<figcaption><%=product.title %></figcaption>
					</figure>
					<% else %>
					이미지 없음
					<% end %>
				</div>
				<div class="product_text">
					<h4><%=product.title %></h4>
					<div class="product_price">
						<label for="product_price_input_<%=index %>"><%=t(:quantity) %></label>
						<input type="text" id="product_price_input_<%=index %>" name="product[<%=index %>][quantity]" min="1" max="100" />
					</div>
					<div class="product_description">
						<%=product.description %>
					</div>
				</div>
			</div>
			<% end %>
			<div id="calculator_table">

			</div>			
		</div>
	</article>
<% if flash.count > 0 %>
<div id="sl_message" class="alert alert-danger col-xs-10 col-xs-offset-1" role="alert" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% flash.each do |name, msg| %>
          <%= content_tag :p, msg, id: "flash_#{name}" %>
       <% end %>
   </div>
<% end %>		
	<article class="panel panel-default" <% if(current_user) %>style="display:none"<% end %>>
		<div class="panel-heading">			
			<h3 class="panel-title"><%=t(:order_info) %></h3>
		</div>
			<div class="panel-body">							
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_order_name"><%=t(:name) %></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sl_order_name" name="order[name]"  />
				</div>
			</div>		
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_order_email"><%=t(:email) %></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sl_order_email" name="order[email]" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_order_phone"><%=t(:phone) %></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sl_order_phone" name="order[phone]"  />
				</div>
			</div>
			</div>
		</article>
		<article class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=t(:shipping_info) %></h3>
			</div>
			<div class="panel-body">
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<label class="radio-inline">
						<input type="radio" name="shipping[same_order]" value="1" <% if(current_user) %><%=t(:same_member) %><% else %><%=t(:same_order) %><% end %>
					</label>
					<label class="radio-inline">
						<input type="radio" name="shipping[same_order]" value="0" <% if(current_user) %><%=t(:not_same_member) %><% else %><%=t(:not_same_order) %><% end %>
					</label>
 				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_shipping_name"><%=t(:name) %></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sl_shipping_name" name="shipping[name]" readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12  col-sm-2" for="sl_shipping_address"><%=t(:address) %></label>
				<div class="col-xs-6 col-sm-3">
					<input type="text" class="form-control" id="sl_shipping_zip" name="shipping[zip_code]" placeholder="<%=t(:zip_code) %>"  maxlength="5"  />
				</div>
				<div class="col-xs-6 col-sm-3" id="find_zip">
					<input type="button" class="btn btn-default" value="<%=t(:find_zip) %>" />					
				</div>
				<div class="col-sm-10 col-sm-offset-2">
					<div id="wrap" style="display:none;border:1px solid;width:100%;height:300px;margin:5px 0;position:relative">
						<img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" alt="접기 버튼">
					</div>					
				</div>
				<div class="col-sm-10 col-sm-offset-2" style="clear:both;padding-top:10px">
					<input type="text" class="form-control" id="sl_shipping_address_default" name="shipping[address_default]" placeholder="<%=t(:default_address) %>" />
				</div>
				<div class="col-sm-10 col-sm-offset-2" style="margin-top:10px">
					<input type="text" class="form-control" id="sl_shipping_address_detail" name="shipping[address_detail]" placeholder="<%=t(:detail_address) %>" />
				</div>								
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_shipping_email"><%=t(:email) %></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sl_shipping_email" name="shipping[email]" readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_shipping_phone"><%=t(:phone) %></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="sl_shipping_phone" name="shipping[phone]" readonly="readonly" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="sl_shipping_message"><%=t(:shipping_message) %></label>
				<div class="col-sm-10">
					<textarea class="form-control" id="sl_shipping_message" name="shipping[message]"></textarea>
				</div>
			</div>
			</div>	
		</article>
		<article class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=t(:agree_order) %></h3>
			</div>
			<div class="panel-body">
			<% if(current_user) %>				
			<div class="col-md-offset-2">
				<div class="checkbox">			
					<label>
						<input type="checkbox" name="agree[no_user]" value="1" /> <span><%=t(:no_user_agreement) %></span>
					</label>
				</div>
			</div>
			<% end %>
			<div class="checkbox col-md-offset-2">
				<div class="checkbox">				
					<label>
						<input type="checkbox" name="agree[order]" value="1" /> <span><%=t(:order_agreement) %></span>
					</label>
				</div>
			</div>	
		</article>
		<article class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=t(:payment) %></h3>
			</div>
			<div class="panel-body">			
			<div class="col-md-offset-2">
				<div class="radio">
				<% @payments.each_with_index do |payment,index| %>				
				<label class="radio-inline">
					<input type="radio" name="order[payment_id]" value="<%=payment.id %>" <% if(index.zero?) %>checked="checked"<% end %> /> <%=payment.title %>
				</label>
				<% end %>
				</div>
			</div>
			</div>
		</article>
	<div class="section_bottom">
		<%= f.submit t(:order_form_submit),:class=>"btn btn-primary" %>
	</div>
	<% end %>
</section>