<tr>
	<td>
		<%=link_to admin_product_product_picture_path(@product,product_picture),:class=>'modal_link',:'data-target'=>"#modal",:'data-toggle'=>"modal" do %>
			<%=image_tag product_picture.photo.medium_thumb %>
		<% end %>
	</td>
	<td>
		<%=product_picture.created_at %>		
	</td>
	<td>
		<%=product_picture.updated_at %>		
	</td>
	<td><%= raw flagToString(product_picture.enable) %></td>
	<% if can?(:update, product_picture) || can?(:delete, product_picture) %>
	<td>
		<% if can?(:update, product_picture) %>
		<%= link_to edit_admin_product_product_picture_path(@product,product_picture),:class=>"btn btn-default" do %>
		<i class="glyphicon glyphicon-pencil"></i> <%=t(:link_edit) %>
		<% end %>
		<% end %>
		<% if can?(:delete, product_picture) %>
		<%= link_to [:admin,@product,product_picture], :method => :delete, :data => { :confirm => t(:delete_confirm) },:class=>"btn btn-danger" do %>
		<i class="glyphicon glyphicon-trash"></i> <%=t(:link_delete) %>
		<% end %>
		<% end %>
	</td>
	<% end %>
</tr>