<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<table class="table table-bordered table-striped">
		<tbody>
			<tr>
				<th><%=t(:label_title) %></th>
				<td><%= @shipping.name %></td>
			</tr>
			<tr>
				<th><%=t(:label_email) %></th>
				<td><%= @shipping.email %></td>
			</tr>
			<tr>
				<th><%=t(:label_phone) %></th>
				<td><%= @shipping.phone %></td>
			</tr>
			<tr>
				<th><%=t(:label_address) %></th>
				<td><%= @shipping.address_default %>(<%= @shipping.zip_code %>) / <%= @shipping.address_detail %></td>
			</tr>
			<tr>
				<th><%=t(:label_message) %></th>
				<td><%= @shipping.message %></td>
			</tr>
			<tr>
				<th><%=t(:label_flag) %></th>
				<td><%=raw flagToString(@shipping.enable) %></td>
			</tr>
			<tr>
				<th><%=t(:label_same_order) %></th>
				<td><%=raw  sameOrderToString(@shipping.same_order) %></td>
			</tr>
			<tr>
				<th><%=t(:label_created_at) %></th>
				<td><%= @shipping.created_at %></td>
			</tr>
			<tr>
				<th><%=t(:label_updated_at) %></th>
				<td><%= @shipping.updated_at %></td>
			</tr>																				
		</tbody>
	</table>
</div>
<% if can? :update, Shipping %>		
<%= link_to t(:link_edit), edit_admin_shipping_path(@shipping) %> |
<% end %>
<%= link_to t(:link_list), admin_shippings_path() %>
