<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%= @relation.title %>
	</p>
	<p>
		<b><%=t(:label_flag) %></b>
		<%=raw flagToString(@relation.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @relation.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @relation.created_at %>
  </p>
</div>
<% if can? :update, Relation %>		
<%= link_to t(:link_edit), edit_admin_relation_path(@relation) %> |
<% end %>
<%= link_to t(:link_list), admin_relations_path %>
