<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%= @related_action.title %>
	</p>
	<p>
		<b><%=t(:label_sub_title) %></b>
		<%= @related_action.sub_title %>
	</p>	
	<p>
		<b><%=t(:label_tip) %></b>
		<%=simple_format @related_action.tip %>
	</p>
	<p>
		<b><%=t(:label_flag) %></b>
		<%=raw flagToString(@related_action.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @related_action.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @related_action.created_at %>
  </p>
</div>
<% if can? :update, Action %>		
<%= link_to t(:link_edit), edit_admin_related_action_path(@related_action) %> |
<% end %>
<%= link_to t(:link_list), admin_related_actions_path %>
