<%= form_with(model: [:admin, product], local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
        <% product.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= form.label :product_category_id %>
        <%= form.select :product_category_id,options_from_collection_for_select(ProductCategory.where(:enable=>true).all, 'id', 'title',product.product_category_id),{},{:class=>"form-control"} %>
      </div>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, :class => "form-control", :required => "required" %>
      </div>
      <div class="form-group">
        <%= form.label :price %>
        <%= form.number_field :price, :class => "form-control", :required => "required" %>
      </div>
      <div class="form-group">
        <%= form.label :order_no %>
        <%= form.number_field :order_no, :class => "form-control" %>
      </div>
      <%= form.fields_for :product_picture do |pp| %>
      <div class="form-group">
        <%= pp.label :picture %>
        <%= pp.file_field :picture, :class => "form-control-file" %>
      </div>
      <% end %>
      <%= form.fields_for :product_content do |pc| %>
        <div class="form-group">
          <%= pc.label :content %>
          <%= pc.text_area :content, :class => "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
  </div>
<% end %>