<div class="container">
  <div class="row">
    <%= render 'nav' %>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="float-left hidden-title"><%= t(:product_list) %></h2>
      <div class="float-right">
        <p class="summary">
          <span id="list_count" style="display:none"><%=@product_count %></span>
          <%=raw t(:there_are_n_products,count: @product_count) %>
        </p>
      </div>
    </div>
    <article class="col-12">
      <table class="table table-striped table-hover">
        <colgroup>
          <col style="width:120px">
          <col>
          <col>
          <col>
          <col>
          <col>
          <% if can?(:update, Product) || can?(:delete, Product) %>
          <col<%=manage_width(Product) %>>
          <% end  %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th class="text-center"><%= t(:enable,scope:[:activerecord,:attributes,:product]) %></th>
          <th><%= t(:title,scope:[:activerecord,:attributes,:product]) %></th>
          <th class="text-right"><%= t(:price,scope:[:activerecord,:attributes,:product]) %></th>
          <th class="text-right"><%= t(:order_no,scope:[:activerecord,:attributes,:product]) %></th>
          <th class="text-right"><%= t(:picture,scope:[:activerecord,:attributes,:product_picture]) %></th>
          <th class="text-right"><%= t(:updated_at,scope:[:activerecord,:attributes,:product]) %></th>
          <% if can?(:update, Product) || can?(:delete, Product) %>
          <th class="text-center"><%= t(:manage) %></th>
          <% end  %>
        </tr>
        </thead>
        <tbody>
        <% unless @products.empty? %>
          <% @products.each_with_index do |product,index| %>
            <tr>
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="product_display<%=index %>" value="<%=product.id %>" <% if product.enable %> checked<% end %>>
                  <label class="custom-control-label" for="product_display<%=index %>"><% if product.enable %> <%=t(:display) %><% else %><%=t(:hidden) %><% end %> </label>
                </div>
              </td>
              <td><%= link_to product.title,admin_product_path(product) %></td>
              <td class="text-right"><%= number_to_currency product.price %></td>
              <td class="text-right"><%= product.order_no %></td>
              <td class="text-right">
                <% if product.product_pictures.present? %>
                  <%=image_tag product.product_pictures[0].picture.small_thumb.url %>
                <% end %>
              </td>
              <td class="text-right"><%= I18n.l product.created_at.to_date, :format => :long %></td>
              <% if can?(:update, product) or can?(:delete, product) %>
                <td class="text-right">
                  <% if can? :update, product %>
                    <%= link_to edit_admin_product_path(product), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, product %>
                    <%= link_to admin_product_path(product), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="7" class="text-center"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @products %>
      <%= link_to t(:add), new_admin_product_path(:product_category_id=>@product_category), :class => "btn btn-primary" %>
    </article>
  </div>
</div>
