<div id="product-show" class="container">
  <div class="row">
    <article class="col-12">
      <h3><%=@product.title %></h3>
      <% if @product.description %>
      <p><%=@product.description %></p>
      <% end %>
      <dl>
        <dt><%=t(:price,scope:[:activerecord,:attributes,:product]) %></dt>
        <dd><%=@product.price %></dd>
        <dt><%= t(:order_no,scope:[:activerecord,:attributes,:product]) %></dt>
        <dd><%=@product.order_no %></dd>
      </dl>
    </article>
  </div>
  <div class="row">
    <div class="col-12 show-bottom-menu">
        <div class="row">
          <div class="col-12 col-lg-6">
            <%=link_to t(:link_list),admin_products_path,:class=>"btn btn-secondary" %>
          </div>
          <div class="text-right col-12 col-lg-6">
            <%=link_to t(:edit),edit_admin_product_path(@product),:class=>"btn btn-secondary" %>
            <%=link_to t(:delete),admin_product_path(@product),:class=>"btn btn-danger" %>
          </div>
      </div>
    </div>
  </div>
</div>