<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<div class="sl_show">
	<p>
		<b><%=t(:label_title) %></b>
		<%= @gene.title %>
	</p>
	<p>
		<b><%=t(:label_sub_title) %></b>
		<%= @gene.sub_title %>
	</p>	
	<p>
		<b><%=t(:label_description) %></b>
		<%=simple_format @gene.description %>
	</p>
	<p>
		<b><%=t(:label_flag) %></b>
		<%=raw flagToString(@gene.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @gene.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @gene.created_at %>
  </p>
</div>
<% if can? :update, Notice %>		
<%= link_to t(:link_edit), edit_admin_gene_path(@gene) %> |
<% end %>
<%= link_to t(:link_list), admin_genes_path() %>
