<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>      	
        <Cell><Data ss:Type="String"><%=t(:label_number)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_user_id)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_device_id)%></Data></Cell>
        <Cell><Data ss:Type="String"><%=t(:label_ip)%></Data></Cell>        
        <Cell><Data ss:Type="String"><%=t(:label_created_at)%></Data></Cell>
      </Row>
      <% @user_login_logs.each do | user_login_log| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= user_login_log.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_login_log.user_id %></Data></Cell>
        <Cell><Data ss:Type="String"><% if user_login_log.device_id.present? %><%=user_login_log.device_id %><% else %><%=t(:no_insert_data) %><% end %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_login_log.client_ip %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_login_log.created_at %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
