<section id="product_index">
	<% unless @products.empty? %>
	<% @products.each_with_index do |product,index| %>
	<%=form_tag({controller: "orders", action: "new"}, method: "get", class: "form-horizontal order_form") do %>
	<article class="panel panel-default product">
		<div class="panel-heading">
			<h3 class="panel-title"><%=product.title %></h3>
		</div>
		<div class="panel-body">
			<input type="hidden" name="product[id]"  value="<%=product.id %>" />		
			<div class="media">
				<div class="media-left media-middle">
					<a href="#">
						<% if(product.product_picture) %>
						<figure>
							<img src="uploads/product_picture/<%= product.product_picture %>/medium_thumb_<%= product.product_picture %>" width="" height="" class="img-rounded" />
							<figcaption><%=product.title %></figcaption>
						</figure>
						<% else %>
						<figure>
							<img src="" width="" height="" class="img-rounded" />
							<figcaption><%=t(:no_image) %></figcaption>
						</figure>
						<% end %>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading"><%=product.title %></h4>
					<div class="product_price">
						<label for="product_price_input_<%=index %>"><%=t(:quantity) %></label>
						<input type="text" id="product_price_input_<%=index %>" name="product[quantity]" value="" min="1" max="100" />
					</div>
					<div class="product_description">
						<%=raw(product.description) %>
					</div>
				</div>
			</div>
		</div>
	</article>
	<div class="section_bottom">	
		<%= submit_tag t(:order_form_submit), class: "btn btn-primary btn-lg" %>
	</div>
	<% end %>	
	<% end %>
	<% else %>
	<h4><%= t(:no_data)%></h4>
	<% end %>
</section>
