<% breadcrumb :products %>
<div id="products" class="container sub-main">
  <div class="row">
    <%= render 'nav' %>
    <div class="col-12 col-lg-6">
      <h2 class="float-left hidden-title"><%= t(:product_list) %></h2>
      <div class="float-right">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @product_count %></span>
          <%= raw t(:there_are_n_masks, count: @product_count) %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @product_count %>
      <% @products.each do |product| %>
        <article class="product col-12 col-md-6 col-lg-4 col-xl-3">
          <%= link_to product_path(product) do %>
          <figure>
            <% if product.product_pictures.present? %>
              <%= image_tag product.product_pictures[0].picture.medium_thumb.url %>
            <% end %>
          </figure>
            <% end %>
          <h3><%= link_to product.title, product_path(product) %></h3>
          <% if product.description.present? %>
            <p><%= link_to product.description, product_path(product) %></p>
          <% end %>
          <p><%= number_to_currency product.price %></p>
        </article>
        <%= paginate @products, theme: 'main' %>
      <% end %>
    <% else %>
      <div class="product col-12">
        <%= t(:no_data) %>
      </div>
    <% end %>
    </article>
  </div>
</div>
