<div id="notice-show" class="container">
  <div class="row">
    <article class="col-12">
      <h3><%=@notice.title %></h3>
      <p>
        <b><%=t(:content,scope:[:activerecord,:attributes,:faq_content]) %></b>
        <%=simple_format @notice.notice_content.content %>
      </p>
      <p>
        <b><%=t(:enable,scope:[:activerecord,:attributes,:faq]) %></b>
      </p>
      <p>
        <b><%= t(:created_at,scope:[:activerecord,:attributes,:faq]) %></b>
        <%= @notice.created_at %>
      </p>
      <p>
        <b><%= t(:updated_at,scope:[:activerecord,:attributes,:faq]) %></b>
        <%= @notice.updated_at %>
      </p>
    </article>
  </div>
  <div class="row">
    <div class="col-12 show-bottom-menu">
      <div class="row">
        <div class="col-12 col-lg-6">
          <%=link_to t(:link_list),admin_notices_path,:class=>"btn btn-secondary" %>
        </div>
        <div class="text-right col-12 col-lg-6">
          <%=link_to t(:edit),edit_admin_notice_path(@notice),:class=>"btn btn-secondary" %>
          <%=link_to t(:delete),admin_notice_path(@notice),:class=>"btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>