<%= form_for [:admin,@gene_relation] do |f| %>
<% if @gene_relation.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<h2><%= pluralize(@gene_relation.errors.count, "error") %> prohibited this request from being saved:</h2>
	<ul>
		<% @gene_relation.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="form-group">
<%= f.collection_check_boxes(:gene_ids, Gene.where(:enable=>true).all, :id, :title,{:include_hidden=>false}) do |gene| %>
<%=gene.check_box %>
<%=gene.label :style=>'margin-right:20px' %>
<% end %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title,:class=>"form-control",:required=>"required" %>
</div>
<div class="form-group">
	<%= f.label :enable %>
	<%= f.check_box :enable %>
</div>
<div class="form-group actions">
	<%= f.submit :class=>"btn btn-primary" %>
</div>
<% end %>
