<%=form_tag admin_stats_path,:method=>:get,:class=>"form-search sl_search" do %>
	<input type="hidden" id="f_ad_type_id" name="ad_type_id" value="<%=params[:ad_type_id] %>" />
	<input type="hidden" name="type" value="<%=params[:type] %>" />
	<table class="table table-bordered table-striped">
		<tr>
			<th><%=label_tag :log_type,t(:label_ad_log_type_id) %></th>
			<td>
				<select name="ad_log_type_id" class="form-control">
					<option value="" <% if(params[:ad_log_type_id].nil?) %>selected="selected"<% end %>><%=t(:show_all)%></option>					
					<option value="3" <% if(params[:ad_log_type_id]=='3') %>selected="selected"<% end %>><%=t(:option_ad_log_type3)%></option>
					<option value="4" <% if(params[:ad_log_type_id]=='4') %>selected="selected"<% end %>><%=t(:option_ad_log_type4)%></option>					
				</select>
			</td>
		</tr>		
		<tr>
			<th><%=label_tag :period,t(:label_period) %></th>
			<td>
				<select name="period" class="form-control">
					<option value="day" <% if(params[:period]=='day')%>selected="selected"<% end %>><%=t(:period_daily)%></option>
					<option value="week" <% if(params[:period]=='week')%>selected="selected"<% end %>><%=t(:period_weekly)%></option>
					<option value="month" <% if(params[:period]=='month')%>selected="selected"<% end %>><%=t(:period_monthly)%></option>
				</select>
			</td>
		</tr>
		<tr>
			<th><%=label_tag :start_date,t(:label_period_search) %></th>
			<td>
				<div class="row">
					<span class="col-xs-12 col-sm-6"><%=text_field_tag :start_date,@start_date,{:type=>:date,:class=>"datepicker form-control"} %></span> 
					<span class="col-xs-12 col-sm-6"><%=text_field_tag :end_date,@end_date,{:type=>:date,:class=>"datepicker form-control"} %></span>
				</div>
				<div style="margin:10px">
					<label class="radio-inline"><input type="radio" id="pe1" name="date_p" value="0" <% if params[:date_p]=='0' %>checked="checked"<% end %> /><%=t(:period_today) %></label>
					<label class="radio-inline"><input type="radio" id="pe2" name="date_p" value="7" <% if params[:date_p]=='7' %>checked="checked"<% end %> /><%=t(:period_week) %></label>
					<label class="radio-inline"><input type="radio" id="pe3" name="date_p" value="30" <% if params[:date_p]=='30' %>checked="checked"<% end %> /><%=t(:period_month) %></label>
					<label class="radio-inline"><input type="radio" id="pe4" name="date_p" value="90" <% if params[:date_p]=='90' %>checked="checked"<% end %> /><%=t(:period_month3) %></label>
					<label class="radio-inline"><input type="radio" id="pe5" name="date_p" value="180" <% if params[:date_p]=='180' %>checked="checked"<% end %> /><%=t(:period_month6) %></label>
					<label class="radio-inline"><input type="radio" id="pe6" name="date_p" value="false" <% if params[:date_p]==false %>checked="checked"<% end %> /><%=t(:period_all) %></label>
				</div>
				<div>
					<%=submit_tag t(:search), :class=>"btn btn-default" %>
				</div>
			</td>
		</tr>
	</table>
<% end %>