<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
				<Cell><Data ss:Type="String"><%=t(:label_period) %></Data></Cell>
				<% unless @markets.empty? %>
				<% @markets.each do |market| %>
				<% if market.title.nil? %>
				<Cell><Data ss:Type="String">null</Data></Cell>
				<% else %>
				<Cell><Data ss:Type="String"><%=market.title %></Data></Cell>			
				<% end %>
				<% end %>
				<% end %>
			</Row>
			<% unless @stats.empty? %>
			<% @stats.each do |stat| %>
			<Row>
				<Cell><Data ss:Type="String"><%=stat.period %><%=period_format(params[:period])%></Data></Cell>
			<% unless @markets.empty? %>
			<% @markets.each_with_index do |market,index| %>
			<% stat.attributes.each do |value| %>
			<% if market.title.nil? %>
			<% if value[0]=='null_count' %>
			<Cell><Data ss:Type="String"><%=value[1] %></Data></Cell>
			<% end %>
			<% else %>
			<% if value[0]==market.title.to_s+'_count' %>
			<Cell><Data ss:Type="String"><%=value[1] %></Data></Cell>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
			<% end %>
			</Row>
			<% end %>
			<% else %>
			<Row>
				<Cell><Data ss:Type="String"><%=t(:no_data)%></Data></Cell>
			</Row>
			<% end %>
  	</Table>
 	</Worksheet>
</Workbook>