<footer>
  <div class="container">
    <div class="row">
      <nav class="col-12">
        <ul class="row">
          <li class="col-12 col-md-6 col-lg-3"><%= link_to t(:menu_intro), intro_path %></li>
          <li class="col-12 col-md-6 col-lg-3">이용약관</li>
          <li class="col-12 col-md-6 col-lg-3">개인정보처리방침</li>
          <li class="col-12 col-md-6 col-lg-3"><%= link_to t(:menu_contact), contacts_path %></li>
        </ul>
      </nav>
      <article class="col-12 col-lg-6">
        <h2><%=link_to t(:service_name),t(:site_full_url) %></h2>
        <p><address><%=t(:company_address) %></address>
        사업자등록번호 xxx-xxxx-xxx
        </p>
      </article>
      <article class="col-12 col-lg-6">
        <h2><%=link_to '고객센터','' %></h2>
        <p>
          <%=t(:phone) %> : <%= link_to '010-2937-6273', "tel:010-2937-6273" %>
          <br />
          email : <%=mail_to t(:email_webmaster),'관리담당자('+t(:email_webmaster)+')' %>
        </p>
      </article>
      <p class="col-12">copyright 마프코리아 all right reserved. 2021</p>
    </div>
  </div>
</footer>
