<header>
  <div id="header-top">
    <div class="container">
      <div class="row">
        <h1><%=link_to t(:service_name),root_path %></h1>
        <ul id="top-menu">
          <% if(current_user) %>
            <li><%= link_to edit_user_registration_path do %><%=t(:welcome) %><% end %></li>
            <li>
              <%= link_to destroy_user_session_path do %>
                <i class="material-icons" style="font-size:35px;vertical-align:middle">highlight_off</i><span><%=t(:logout) %></span>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="material-icons">login</i><span><%=t(:login) %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="header-main">
    <div class="container">
      <div class="row">
        <nav id="main-menu">
          <ul class="nav nav-pills">
            <li <% if params[:controller]=='products' %>class="active"<% end %>><%=link_to products_path do %><%= t('activerecord.models.product') %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"></span><% end %></li>
            <% if(current_user) %>
              <li <% if params[:controller]=='users' %>class="active"<% end %>><%=link_to users_path do %><%= t(:menu_my_page) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"><% end %></li>
            <% else %>
              <li <% if params[:controller]=='users' %>class="active"<% end %>><%=link_to new_user_registration_path do %><%= t(:menu_user_add) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"><% end %></li>
            <% end %>
          </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

